<!DOCTYPE html>
<html>
  <head>
    <title>Zihao's Blog</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>

    <header class="navigation">
      <nav class="primary">
        <div class="row">
          <ul>
              <li><a href="/index">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/contact">Contact Us</a></li>
          </ul>
        </div>
      </nav>
    </header>
    
    <div class="hero-about">
      <div class="hero-text">
          <h1>About Us</h1>
          <p>This is what we do</p>
      </div>
    </div>

    <div class="blog-content container">
      <div class="row">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum molestiae debitis nobis, quod sapiente qui voluptatum, placeat magni repudiandae accusantium fugit quas labore non rerum possimus, corrupti enim modi! Et.</p>
      </div>
    </div>

    <hr>
    <footer class="footer u-full-width">
      <div class="container">
        <div class="row">
          <ul>
              <li><a href="/index">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/contact">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </footer>

    <!-- js scripts -->
    <script src="/static/js/script.js"></script>
  </body>
</html>