<!DOCTYPE html>
<html>
  <head>
    <title>Zihao's Blog</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>

    <header class="navigation">
      <nav class="primary">
        <div class="row">
          <ul>
              <li><a href="/index">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/contact">Contact Us</a></li>
          </ul>
        </div>
      </nav>
    </header>
    
    <div class="hero-contact">
      <div class="hero-text">
          <h1>Contatct Us</h1>
          <p>Have questions?</p>
      </div>
    </div>

    <div class="container" id="alertContainer">
      <div class="row" id="alertMessage">
        {{ notification }}
      </div>
    </div>

    <div class="container blog-content">
      <form id="contactForm" onsubmit="checkContact(); return false;">
        <div class="row">
          <div class="six columns">
            <label for="nameInput">Your Name</label>
            <input class="u-full-width" type="text" placeholder="Zihao" id="nameInput">
          </div>
          <div class="six columns">
            <label for="exampleSubjectInput">Subject</label>
            <input class="u-full-width" type="text" placeholder="Qustion?" id="exampleSubjectInput">
          </div>
        </div>
        <label for="exampleMessage">Message</label>
        <textarea class="u-full-width" placeholder="Hi Dave" id="exampleMessage"></textarea>
        <input class="button" type="submit" value="submit button">
      </form>
    </div>

    <hr>
    <footer class="footer u-full-width">
      <div class="container">
        <div class="row">
          <ul>
              <li><a href="/index">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/contact">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </footer>

    <!-- js scripts -->
    <script src="/static/js/script.js"></script>
  </body>
</html>